.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  @include font-size($breadcrumb-font-size);
  list-style: none;
  background-color: white;
  @include border-radius($breadcrumb-border-radius);
}

.breadcrumb-item {
  display: flex;

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  +.breadcrumb-item {
    padding-left: $breadcrumb-item-padding;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: $breadcrumb-item-padding;
      color: $breadcrumb-divider-color;
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  +.breadcrumb-item:hover::before {
    text-decoration: none;
  }

  // stylelint-disable-next-line no-duplicate-selectors
  +.breadcrumb-item:hover::before {
    text-decoration: none;
    background-color: #f3f2f1;
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}


.breadcrumb li a{
  font-size: 18px;
  font-weight: 400;
  color: rgb(96, 94, 92);
  outline: transparent none medium;
  text-decoration: none;
  background: transparent none repeat scroll 0% 0%;
  background-color: transparent;
  border-color: currentcolor currentcolor transparent;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  cursor: pointer;
  display: inline;
  margin: 0px;
  overflow: hidden;
  padding: 0px 8px;
  text-align: left;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
  line-height: 36px;
  user-select: text;
  text-decoration: none;

}

.breadcrumb-item :hover {
  color: rgb(50, 49, 48);
  text-decoration: none;
  background-color: #f3f2f1;
  cursor: pointer;
}

.breadcrumb-item .active {

  font-weight: 600;
  color: rgb(50, 49, 48);

}
